<footer class="page-footer blue lighten-3">
	<div class="footer-copyright blue">
		<div class="container">
			<h2>Articles belong to Verge.com</h2>
			<a class="white-text text-lighten-4" href='https://www.theverge.com/cars' target="_blank">The Verge-Tech</a>
		</div>
	</div>
</footer>